.app-header {
  padding: 1rem 2rem;
}

.app-nav {
  display: flex;
  gap: 1.5rem;
}

.app-content {
  padding: 2rem;
}

.app-nav a {
  text-decoration: none;
}

.app-nav a.active {
  font-weight: bold;
  text-decoration: underline;
}